@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

/* ------------------------------- Styling voor opdracht 1 en 2  -------------------------------- */

/* Schrijf hier jouw CSS... */


body {
    color: white;
}

.compliment p::before {
    content:"\0022";
}

.compliment p::after {
    content:"\0022";
}

footer p::after {
    content:"\00a9";
}

.highlight {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.highlight::after {
    content: "dit is een latijns woord";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: hsl(29, 100%, 47%);
    color: #FFF;
    border-radius: 5px;

    /*dit heb ik gevonden wat een pijl zou moeten geven maar dat doet het niet*/
    /*border: 10px solid #000;*/
    /*border-color: transparent transparent black transparent;*/

    padding: 5px 10px;
    white-space: nowrap;
    display: none;
}

.highlight:hover::after {
    display: block;
}


/* ------------------------------- Base Styles: don't change this!  -------------------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 36%, 90%);
    color: hsl(210, 93%, 29%);
    text-align: center;
    font-family: 'Roboto Slab', Arial, serif;
    font-weight: 300;
}

h1 {
    margin: 32px;
}

#compliment-container {
    display: flex;
    justify-content: space-around;
    padding: 32px;
}

.compliment {
    background-color: hsl(212, 43%, 65%);
    flex-basis: 200px;
    color: white;
    padding: 32px;
}

.highlight {
    color: hsl(210, 93%, 19%);
    font-weight: 400;
}

footer {
    background-color: hsl(29, 100%, 47%);
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}